button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    appearance: none;
    /* outline: inherit; */
}

.btn {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 4px;
    width: 16ch;
    height: 4ch;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 2ch;
    outline: 0 solid var(--secondary);
}

.btn-square {
    aspect-ratio: 1;
    max-width: 4ch;
    max-height: 4ch;
    border-radius: 1ch;
}

button:hover {
    outline-width: 0.25rem;
}


.btn:active {
    color: var(--primary);
    background-color: var(--secondary);
    outline-color: var(--primary);
}


#themeSwitch {
    cursor: pointer;
    background-color: var(--primary);
    display: flex;
    border-radius: 40ch;
    aspect-ratio: 2;
    height: 1.5rem;
    transition: 200ms;
}


#themeSwitch * {
    /* transition: 2s; */
    /* margin-inline-start: 5ch; */
    display: block;
    /* margin-inline: .5ch; */
    /* outline: 4px solid limegreen; */
    margin-block: auto;
    margin-inline: .5ch;
    aspect-ratio: 1;
    height: 0.8rem;
    background-color: var(--secondary);
    border-radius: 10rem;
}

#themeSwitch[theme-mode="dark"] * {
    transform: translateX(200%);

}