button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    appearance: none;
    /* outline: inherit; */
}

.btn {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 4px;
    width: 16ch;
    height: 4ch;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 2ch;
    outline: 0 solid var(--secondary);
}

.btn-square {
    aspect-ratio: 1;
    max-width: 4ch;
    max-height: 4ch;
    border-radius: 1ch;
}

button:hover {
    outline-width: 0.25rem;
}


.btn:active {
    color: var(--primary);
    background-color: var(--secondary);
    outline-color: var(--primary);
}

.btn-select {
    cursor: pointer;
    font-weight: 700;
    border: none;
    appearance: none;
    transition: all 0s;
    width: auto;
    aspect-ratio: 5/2;
    padding-inline: 3ch;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10rem;
    text-align: center;
}

.btn svg {
    margin-block: auto;
    aspect-ratio: 1;
}