button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    /* outline: inherit; */
}

.btn {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 4px;
    width: 8ch;
    height: 4ch;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 2ch;

    outline: 0 solid var(--secondary);
}

.btn-square {
    min-width: 4ch;
    min-height: 4ch;
    max-width: 4ch;
    max-height: 4ch;
    border-radius: 1ch;
}

.btn:hover {
    outline-width: 0.25rem;
}


.btn:active {
    color: var(--primary);
    background-color: var(--secondary);
}