html[data-theme-mode="dark"][ data-theme-scheme="blue"] {
    --primary: #2150C4;
    --300: #1A3F9D;
    --200: #143076;
    --100: #0D204F;
    --secondary: #071027;
}

html[data-theme-mode="light"][ data-theme-scheme="blue"] {
    --primary: #3F6CDF;
    --300: #6F91E7;
    --200: #9FB6EF;
    --100: #CFDAF7;
    --secondary: #E5EBFB;
}

html[data-theme-mode="light"][ data-theme-scheme="purple"] {
    --primary: #C85BE6;
    --300: #DD99F0;
    --200: #EAC1F6;
    --100: #F6E4FB;
    --secondary: #FBF2FD;
}

html[data-theme-mode="dark"][ data-theme-scheme="purple"] {
    --primary: #72158C;
    --300: #691381;
    --200: #5E1173;
    --100: #410C50;
    --secondary: #2B0835;
}

html {
    background-color: var(--100);
    color: var(--primary);
    transition-timing-function: ease-in;

    transition: color 40ms, background-color 150ms;
}

* {
    /* border: red solid 1px; */
    font-family: 'Crimson Pro', ;
    /* font-size: 48px; */
}

#header {
    width: 100%;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: baseline;
    gap: 200px;

}

button {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 4px;
    width: 8ch;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;

}

button:hover {
    color: var(--primary);
    background-color: var(--secondary);
}


.currentSummary {
    border: lime solid 2px;

    display: flex;
    flex-direction: row;
}